@font-face {
    font-family: wotfard;
    src: url('../assets/fonts/wotfard-regular-webfont.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
:root{
    font-family: watford, sans-serif;
}
